    @import url('./reset.css');
    @import url('./utility.css');
    @import url('./variable.css');
    @import url('./nav.css');
    @import url('./footer.css');
    /*-----------------------------header--------------------------------------*/
    /*-----------------------------------container------------------------------------------------*/
    
    .hero {
        font-size: 8rem;
    }
    
    .hero-btns {
        margin: var(--size-11);
    }
    
    .btn {
        width: 120px;
        font-size: var(--size-6);
        padding: var( --size-5);
        margin: var(--size-6);
        border-radius: var(--size-2);
        font-weight: bold;
    }
    
    .btn-primary {
        background-color: var(--prime-blue);
        color: var(--secondary-white);
    }
    
    .btn-secondary {
        border: 2px solid var(--prime-blue);
    }
    
    .btn-secondary:hover {
        background-color: var(--prime-blue);
    }
    /*----------------------------------------------------INFO------------------------------------------------------*/
    
    .info {
        width: 100%;
        font-size: 2rem;
        letter-spacing: 0.07rem;
    }
    
    .info-box {
        height: 250px;
        width: 250px;
        margin: var(--size-8);
        text-align: center;
    }
    /*---------------------------------------------Footer-------------------------------------------------*/
    
    .footer {
        height: 40vh;
        font-size: small;
        background-color: var(--secondary-bg-color);
        color: var(--text-color-2);
        padding: var(--size-11);
        line-height: 2.5;
    }
    
    .gratitude {
        width: 30%;
    }
    
    .brand {
        display: flex;
        align-items: center;
    }
    
    .footer-link {
        text-transform: unset;
        color: var( --secondary-white);
    }
    
    .footer-link:hover {
        border-bottom: 2px solid red;
    }
    
    @media screen and (min-width: 500px) {
        .mob-footer {
            display: none;
        }
    }
    
    @media (max-width:500px) {
        html {
            font-size: 50%;
        }
        .nav-links {
            width: 180px;
            font-size: 1.5rem;
            font-weight: 400;
        }
        .nav-link {
            padding: 0rem 1rem 0rem 1rem;
        }
        .hero {
            font-size: 6rem;
        }
        .btn {
            width: 100px;
            font-size: var(--size-6);
            padding: var( --size-3);
            margin: var(--size-4);
        }
        .mob-footer {
            font-size: 1.75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .footer-heading {
            border-bottom: 2px solid red;
        }
        ul {
            padding: 0;
        }
        .footer-link {
            margin: 2rem;
        }
        .gratitude,
        .footer-links,
        .socials {
            display: none;
        }
    }