<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image | LightUI</title>
    <link rel="stylesheet" href="../../Docs/doc.css">
    <link rel="stylesheet" href="image.css">
</head>

<body class="menulist-parent">
    <div class="nav flex-space-between padding-xxl shadow-sm">

        <button class="ham-menu">
            <ion-icon class="header-icon ham-menu" class="ham-menu" name="menu-outline"></ion-icon>
        </button>
        <a href="../../index.html" class="desktop">
            <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
        </a>
        <ion-icon class="header-icon" ></ion-icon>
    </div>
    <main class="flex-row">
        <div class="menuList">
            <h2 class="comp-head">Getting Started</h2>
            <ul class="padding-s">

                <li class="comp-el padding-v-l"><a href="../../Docs/docs.html">Typography</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/colors.html">Colors</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/conclusion.html">Conclusions</a></li>
            </ul>
            <br>
            <h2 class="comp-head">Components</h2>
            <ul class="padding-s">
                <li class="comp-el padding-v-l"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="comp-el padding-v-l"><a href="../Alert/alert.html">Alert</a></li>
                <li class="comp-el padding-v-l"><a href="../Badge/badge.html">Badges</a></li>
                <li class="comp-el padding-v-l"><a href="../Button/button.html">Button</a></li>
                <li class="comp-el padding-v-l"><a href="../Card/card.html">Card</a></li>
                <li class="comp-el padding-v-l"><a class="active" href="#">Image</a></li>
                <li class="comp-el padding-v-l"><a href="../Toasts/toast.html">Toasts</a></li>
                <li class="comp-el padding-v-l"><a href="../Input/input.html">Input</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Lists/list.html">Lists</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Navigation/navigation.html">Navigation</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Text-Utilities/textutilities.html">Text-utilities</a></li>
                <li class="comp-el padding-v-l"><a href="../Modal/modal.html">Modal</a></li>
                <li class="comp-el padding-v-l"><a  href="../Rating/rating.html">Rating</a></li>
                 <li class="comp-el padding-v-l"><a href="/Components/Slider/slider.html">Slider</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Grid/grid.html">Grid</a></li>

            </ul>
        </div>
        <div class="main-content padding-l">
            <h1 id="main-heading">Responsive image</h1>
            <p class="padding-l">Responsive images adjust themselves accordingly to the Screen Sizes.</p>
            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">Responsive box image</h2>
            <p class="padding-l">Image that is responsive and not round in shape</p>

            <div class="element-display">

                <figure>
                    <img class="resp-img" src="/Assets/Images/Suit.jpg" alt="Man in Suit">
                </figure>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the above Responsive image components, just copy and paste the below code snippets:</p>

            <iframe src="https://www.thiscodeworks.com/embed/6204126cc6efb50015062db5" style="width: 100%; height: 125px;" frameborder="0"></iframe>


            <!-- ------------------------------------------------------------------ -->
            <div class="divider margin-v-l"></div>

            <h2 class="sub-heading">Responsive round image</h2>
            <p class="padding-l">Image that is responsive as well as round in shape.</p>
            <div class="element-display">

                <figure>
                    <img class="resp-img round" src="/Assets/Images/anon.jfif" alt="Man in Suit">
                </figure>



            </div>
            <p class="padding-l">To use the above Responsive round image components, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/620412c0c6efb50015062db6" style="width: 100%; height: 125px;" frameborder="0"></iframe>

            <div class="divider margin-v-l"></div>
            <div class="bottom-nav flex-space-between">

                <a class="color-text" href="../Card/card.html">
                    <ion-icon name="arrow-back-circle-outline"></ion-icon> Card
                </a>
                <a class="color-text" href="../Button/button.html">Input <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                </a>

            </div>

        </div>
    </main>


    <div class="footer flex-space-even">
        <div class="gratitude">
            <div class="brand">
                <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
                <span>Light UI</span>

            </div>
            <p> Designed and built with all the love in the world by the
                <a class="footer-link color-text" href="https://maruthipothuganti.netlify.app" target="_blank">Maruthi Pothuganti</a> with the help of our NeoG Community.
            </p>
        </div>


    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/Docs/doc.js"></script>
</body>

</html>
