<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid | LightUI</title>
    <link rel="stylesheet" href="../../Docs/doc.css">
    <link rel="stylesheet" href="grid.css">
</head>

<body class="menulist-parent">

    <div class="nav flex-space-between padding-xxl shadow-sm">

        <button class="ham-menu">
            <ion-icon class="header-icon ham-menu" class="ham-menu" name="menu-outline"></ion-icon>
        </button>
        <a href="../../index.html" class="desktop">
            <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
        </a>
        <ion-icon class="header-icon" ></ion-icon>
    </div>
    <main class="flex-row">
        <div class="menuList">
            <h2 class="comp-head">Getting Started</h2>
            <ul class="padding-s">

                <li class="comp-el padding-v-l"><a href="../../Docs/docs.html">Typography</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/colors.html">Colors</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/conclusion.html">Conclusions</a></li>
            </ul>
            <br>
            <h2 class="comp-head">Components</h2>
            <ul class="padding-s">
                <li class="comp-el padding-v-l"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="comp-el padding-v-l"><a href="../Alert/alert.html">Alert</a></li>
                <li class="comp-el padding-v-l"><a href="../Badge/badge.html">Badges</a></li>
                <li class="comp-el padding-v-l"><a href="../Button/button.html">Button</a></li>
                <li class="comp-el padding-v-l"><a href="../Card/card.html">Card</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Image/image.html">Image</a></li>
                <li class="comp-el padding-v-l"><a href="../Toasts/toast.html">Toasts</a></li>
                <li class="comp-el padding-v-l"><a href="../Input/input.html">Input</a></li>
                <li class="comp-el padding-v-l"><a href="../Lists/list.html">Lists</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Navigation/navigation.html">Navigation</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Text-Utilities/textutilities.html">Text-utilities</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Modal/modal.html">Modal</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Rating/rating.html">Rating</a></li>
                <li class="comp-el padding-v-l"><a  href="/Components/Slider/slider.html">Slider</a></li>
                <li class="comp-el padding-v-l"><a class="active" href="#">Grid</a></li>

            </ul>
        </div>
        <div class="main-content padding-l">
            <h1 id="main-heading">Grid</h1>
            <p class="padding-l">The CSS Grid Layout Module offers a grid-based layout system, with rows and Sections, making it easier to design web pages without having to use floats and positioning.</p>
            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">A 2 by 2 Grid</h2>
            <p class="padding-l">Below is the preview of the 2 by 2 Grid layout</p>

            <div class="element-display">

                <div class="grid grid2by2">
                    <div class="item item1"><h3>Section 1</h3> </div>
                    <div class="item item2"> <h3>Section 2</h3></div>
                    <div class="item item1"><h3>Section 3</h3> </div>
                    <div class="item item2"> <h3>Section 4</h3></div>
                </div>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the above layout, just copy and paste from the below code snippet :
            </p>
            <iframe src="https://www.thiscodeworks.com/embed/62c82a4a265bd00015fcad07" style="width: 100%; height: 268px;" frameborder="0"></iframe>
                        <!-- ------------------------------------------------------------------ -->
            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">20-80 Grid Demo</h2>
            <p class="padding-l">Below is the preview of the 20-80 Grid Layout. These are most generic layouts which can be found everywhere with left section as menu and right section as content</p>

            <div class="element-display">

                <div class="grid grid-20-80">
                    <div class="item item1"><h3>Section 1</h3> </div>
                    <div class="item item2"> <h3>Section 2</h3></div>
                </div>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the above layout, just copy and paste from the below code snippet :
            </p>

            <iframe src="https://www.thiscodeworks.com/embed/62c82a8e265bd00015fcad09" style="width: 100%; height: 190px;" frameborder="0"></iframe>            <!-- ------------------------------------------------------------------ -->
            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">50-50 Grid Demo</h2>
            <p class="padding-l">Below is the preview of the 50-50 Grid Layout. These are generally seen in cards with images and descriptions.</p>

            <div class="element-display">

                <div class="grid grid-50-50">
                    <div class="item item1"><h3>Section 1</h3> </div>
                    <div class="item item2"> <h3>Section 2</h3></div>
                </div>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the above layout, just copy and paste from the below code snippet :
            </p>

            <iframe src="https://www.thiscodeworks.com/embed/62c82ab8265bd00015fcad0a" style="width: 100%; height: 190px;" frameborder="0"></iframe>            <!-- ------------------------------------------------------------------ -->


            <div class="divider margin-v-l"></div>
            <div class="bottom-nav flex-space-between">

                <a class="color-text" href="../Slider/slider.html">
                    <ion-icon name="arrow-back-circle-outline"></ion-icon> Slider
                </a>
                <a class="color-text" href="#"> <ion-icon name=""></ion-icon>
                </a>

            </div>

        </div>
    </main>


    <div class="footer flex-space-even">
        <div class="gratitude">
            <div class="brand">
                <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
                <span>Light UI</span>

            </div>
            <p> Designed and built with all the love in the world by the
                <a class="footer-link color-text" href="https://maruthipothuganti.netlify.app" target="_blank">Maruthi
                    Pothuganti</a> with the help of our NeoG Community.
            </p>
        </div>


    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/Docs/doc.js"></script>
</body>

</html>
