<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards | LightUI</title>
    <link rel="stylesheet" href="../../Docs/doc.css">
    <link rel="stylesheet" href="card.css">
</head>

<body class="menulist-parent">
    <div class="nav flex-space-between padding-xxl shadow-sm">
        <!-- <ion-icon class="header-icon" name="sunny-outline"></ion-icon> -->
        <button class="ham-menu">
            <ion-icon class="header-icon ham-menu" class="ham-menu" name="menu-outline"></ion-icon>
        </button>
        <a href="../../index.html">
            <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
        </a>
        <ion-icon class="header-icon" name="moon"></ion-icon>
    </div>
    <main class="flex-row">
        <div class="menuList">
            <h2 class="comp-head">Getting Started</h2>
            <ul class="padding-s">

                <li class="comp-el padding-v-l"><a href="../../Docs/docs.html">Typography</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/colors.html">Colors</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/conclusion.html">Conclusions</a></li>
            </ul>
            <br>
            <h2 class="comp-head">Components</h2>
            <ul class="padding-s">
                <li class="comp-el padding-v-l"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="comp-el padding-v-l"><a href="../Alert/alert.html">Alert</a></li>
                <li class="comp-el padding-v-l"><a href="../Badge/badge.html">Badges</a></li>
                <li class="comp-el padding-v-l"><a href="../Button/button.html">Button</a></li>
                <li class="comp-el padding-v-l"><a class="active" href="#">Card</a></li>
                <li class="comp-el padding-v-l"><a href="../Image/image.html">Image</a></li>
                <li class="comp-el padding-v-l"><a href="../Toasts/toast.html">Toasts</a></li>
                <li class="comp-el padding-v-l"><a href="../Input/input.html">Input</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Lists/list.html">Lists</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Navigation/navigation.html">Navigation</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Text-Utilities/textutilities.html">Text-utilities</a></li>
            </ul>
        </div>
        <div class="main-content padding-l">
            <h1 id="main-heading">Cards</h1>
            <p class="padding-l">Cards displays some information about a particular object or scenario on the site. Basically depicts the real world card but in digital.</p>

            <div class="divider margin-v-l"></div>

            <h2 class="sub-heading">Basic Card</h2>
            <p class="padding-l">A card with a title, some info as overview and a container with action links at bottom. </p>

            <div class="element-display">

                <div class="basic-card">
                    <div class="card-desc">
                        <h1>Basic</h1>
                        <p class="padding-v-l">This is a very simple card. This give small bits of information and takes very little pace.</p>

                    </div>
                    <div class="action-links">
                        <a href="#">LINK1</a>
                        <a href="#">LINK2</a>
                    </div>

                </div>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the above basic card components, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/6203eb9ec6efb50015062d6f" style="width: 100%; height: 242px;" frameborder="0"></iframe>

            <!-- ------------------------------------------------------------------ -->
            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">Card With Image</h2>
            <p class="padding-l">Cards with Images are generally used in Ecommerce apps to display the information related to a project and also in the social media platforms to display profile information about a ser</p>
            <div class="element-display">

                <div class="image-card">
                    <div class="image-container">
                        <img class="image" src="/Assets/Images/card-avatar-1.jpg" alt="">
                        <h1 class="card-title padding-m">Image</h1>
                    </div>
                    <div class="image-card-desc padding-m">

                        This is a very simple card. This give small bits of information and takes very little pace.

                    </div>
                    <div class="img-card-links padding-l">
                        <a href="#">LINK</a>

                    </div>

                </div>


            </div>
            <p class="padding-l">To use the above Card with Image components, just copy and paste the below code snippets:</p>

            <iframe src="https://www.thiscodeworks.com/embed/6203eda0c6efb50015062d71" style="width: 100%; height: 294px;" frameborder="0"></iframe>


            <!-- ------------------------------------------------------------------ -->
            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">Card with Image and Fab</h2>
            <p class="padding-l">Fab is a button which is positioned on the card.</p>
            <div class="element-display">

                <div class="image-card">
                    <div class="image-container">
                        <img class="image" src="/Assets/Images/card-avatar-1.jpg" alt="">
                        <h1 class="card-title padding-l">Image and Fab</h1>
                        <p class="image-card-desc padding-l"> This is a very simple card. This give small bits of information and takes very little pace.</p>
                    </div>
                    <button class="image-card-btn"><ion-icon name="add"></ion-icon></button>
                    <div class="img-card-links padding-l">
                        <a href="#">LINK</a>

                    </div>

                </div>


            </div>
            <p class="padding-l">To use the above Card with Image and Fab components, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/6203edcac6efb50015062d72" style="width: 100%; height: 281px;" frameborder="0"></iframe>

            <!-- ------------------------------------------------------------------- -->

            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">Horizontal Card with Buttons</h2>
            <p class="padding-l">A card with a title, some info as overview and a container with action links at bottom. </p>
            <div class="element-display">

                <div class="horizontal-card">
                    <div class="h-card-title">
                        <div>
                            <h1 class="padding-s">Card</h1>
                            <small class="h-card-sub">Sub heading</small>
                        </div>

                        <img class="h-card-img" src="/Assets/Images/AvatarBadge.jfif" alt="Card image">
                    </div>
                    <div>
                        <p class="h-card-desc padding-m">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero consequuntur repudiandae voluptas eaque.</p>
                    </div>
                    <div class="h-card-btns flex-center padding-s">
                        <button class="hc-accept">Accept</button>
                        <button class="hc-reject">Reject</button>
                    </div>

                </div>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the above Horizontal card with buttons components, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/6203edfcc6efb50015062d73" style="width: 100%; height: 320px;" frameborder="0"></iframe>


            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">Card with Badge</h2>
            <p class="padding-l">A card with a title, some info as overview and a container with action links at bottom. </p>
            <div class="element-display">

                <div class="image-card">
                    <div class="image-container">
                        <img class="image" src="/Assets/Images/card-avatar-1.jpg" alt="">
                        <h1 class="card-title padding-l">Image and Fab</h1>
                        <p class="image-card-desc padding-l"> This is a very simple card. This give small bits of information and takes very little pace.</p>
                    </div>
                    <span class="badge">Special</span>
                    <div class="img-card-links padding-l">
                        <a href="#">LINK</a>

                    </div>

                </div>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the above Card with badge component, just copy and paste the below code snippets:</p>

            <iframe src="https://www.thiscodeworks.com/embed/6203ee21c6efb50015062d74" style="width: 100%; height: 255px;" frameborder="0"></iframe>

            <!-- ----------------------------------------------------------------------------------- -->

            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">Ecommerce Card</h2>
            <p class="padding-l">These cards are generally seen in the Ecommerce sites for a product info. </p>
            <div class="element-display">

                <div class="ecom-card">
                    <img class="ecom-img" src="/Assets/Images/Suit.jpg" alt="suit">
                    <h1 class="prod-title padding-m">Navy blue bioceramic treatment wool Canali Balanc suit</h1>
                    <p class="seller padding-h-xl">Sold by italiano</p>
                    <div class="ecom-price padding-l">
                        <span class=" sell-price">$400</span>
                        <span class="strike-price">$600</span>
                        <span class="ecom-disc">Save 20%</span>
                    </div>

                    <div class="action-btns flex-center">
                        <button class="btn btn-primary"><ion-icon name="cart-outline"></ion-icon>Add to cart</button>
                        <button class="btn btn-secondary">Check Out <ion-icon name="arrow-forward-circle-outline"></ion-icon></button>
                    </div>

                </div>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the above Ecommerce Card component, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/6203ee56c6efb50015062d75" style="width: 100%; height: 320px;" frameborder="0"></iframe>


            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">Text overlay Card</h2>
            <p class="padding-l">These cards are generally seen in the Ecommerce sites for a product info. </p>
            <div class="element-display">

                <div class="ecom-card txt-overlay">
                    <img class="ecom-img" src="/Assets/Images/Suit.jpg" alt="suit">
                    <h1 class="prod-title padding-m"> A card with text shown over it.</h1>
                    <p class="seller padding-h-xl">Sold by italiano</p>
                    <div class="ecom-price padding-l">
                        <span class=" sell-price">$400</span>
                        <span class="strike-price">$600</span>
                        <span class="ecom-disc">Save 20%</span>
                    </div>

                    <div class="action-btns flex-center">
                        <button class="btn btn-primary"><ion-icon name="cart-outline"></ion-icon>Add to cart</button>
                        <button class="btn btn-secondary">Check Out <ion-icon name="arrow-forward-circle-outline"></ion-icon></button>
                    </div>
                    <div class="txt-container">
                        <h2 class="txt">SOLD OUT</h2>
                    </div>

                </div>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the above Text overlay Card components, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/6203ee79c6efb50015062d76" style="width: 100%; height: 359px;" frameborder="0"></iframe>

            <div class="divider margin-v-l"></div>
            <div class="bottom-nav flex-space-between">

                <a class="color-text" href="../Button/button.html">
                    <ion-icon name="arrow-back-circle-outline"></ion-icon> Button
                </a>
                <a class="color-text" href="../Image/image.html">Image <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                </a>

            </div>

        </div>
    </main>


    <div class="footer flex-space-even">
        <div class="gratitude">
            <div class="brand">
                <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
                <span>Light UI</span>

            </div>
            <p> Designed and built with all the love in the world by the
                <a class="footer-link color-text" href="https://maruthipothuganti.netlify.app" target="_blank">Maruthi Pothuganti</a> with the help of our NeoG Community.
            </p>
        </div>


    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/Docs/doc.js"></script>
</body>

</html>