<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar | LightUI</title>
    <link rel="stylesheet" href="../../Docs/doc.css">
    <link rel="stylesheet" href="avatar.css">
</head>

<body>

    <div class="nav flex-space-between padding-xxl shadow-sm">
        <!-- <ion-icon class="header-icon" name="sunny-outline"></ion-icon> -->

        <a href="../../index.html">
            <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
        </a>
        <ion-icon class="header-icon" name="moon"></ion-icon>
    </div>
    <main class="flex-row">
        <div class="menuList">
            <h2 class="comp-head">Getting Started</h2>
            <ul class="padding-s">

                <li class="comp-el padding-v-l"><a href="../../Docs/docs.html">Typography</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/colors.html">Colors</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/conclusion.html">Conclusions</a></li>
            </ul>
            <br>
            <h2 class="comp-head">Components</h2>
            <ul class="padding-s">
                <li class="comp-el padding-v-l"><a class="active" href="#">Avatar</a></li>
                <li class="comp-el padding-v-l"><a href="../Alert/alert.html">Alert</a></li>
                <li class="comp-el padding-v-l"><a href="../Badge/badge.html">Badges</a></li>
                <li class="comp-el padding-v-l"><a href="../Button/button.html">Button</a></li>
                <li class="comp-el padding-v-l"><a href="../Card/card.html">Card</a></li>
                <li class="comp-el padding-v-l"><a href="#">Image</a></li>
                <li class="comp-el padding-v-l"><a href="#">Toasts</a></li>
                <li class="comp-el padding-v-l"><a href="#">Lists</a></li>
                <li class="comp-el padding-v-l"><a href="#">Navigation</a></li>
                <li class="comp-el padding-v-l"><a href="#">Text-utilities</a></li>
            </ul>
        </div>
        <div class="main-content padding-l">
            <h1 id="main-heading">Avatar</h1>
            <p class="padding-l">Avatars are images that users can set as their profile picture. They're always going to be rounded or squares. They can be custom photos, uploaded by users, or generated as Identicons as a placeholder. They can also be initials of the username.
                Different type of avatars are as follows.</p>

            <!-- ---------------------------------------------------------------- -->

            <div class="divider margin-v-l"></div>

            <h2 class="sub-heading">Rounded Avatar</h2>
            <p class="padding-l">Rounded Avatar's are the avatars which are circular and are available in different sizes like extra small, small, medium and large by adding avatar being the general class name for all <span class="color-text">avatar-rd</span> and adding
                <span class="color-text">av-xs</span>,<span class="color-text">av-s</span>,<span class="color-text">av-m</span>,<span class="color-text">av-l</span> as additional Class names respectively.</p>

            <div class="element-display">
                <img class="avatar-rd av-xs" src="../../Assets/Images/anon.jfif" alt="avatar">
                <img class="avatar-rd av-s" src="../../Assets/Images/anon.jfif" alt="avatar">
                <img class="avatar-rd av-m" src="../../Assets/Images/anon.jfif" alt="avatar">
                <img class="avatar-rd av-l" src="../../Assets/Images/anon.jfif" alt="avatar">
            </div>
            <p class="padding-l">Code for above avatars:</p>
            <iframe src="https://www.thiscodeworks.com/embed/61fff1ce4dd44f0015f3cc5e" style="width: 100%; height: auto;" frameborder="0"></iframe>
            <!-- ------------------------------------------------------------------------ -->
            <div class="divider margin-v-l"></div>

            <h2 class="sub-heading">Squared Avatar</h2>
            <p class="padding-l">Squared Avatar's are the avatars which are Squared and are available in different sizes just like rounded avatars. They have a generic class name as <span class="color-text">avatar-sq</span>. They are also resized by adding the same additional
                classnames as of rounded avatar's.</p>

            <div class="element-display">
                <img class="avatar-sq av-xs" src="../../Assets/Images/anon.jfif" alt="avatar">
                <img class="avatar-sq av-s" src="../../Assets/Images/anon.jfif" alt="avatar">
                <img class="avatar-sq av-m" src="../../Assets/Images/anon.jfif" alt="avatar">
                <img class="avatar-sq av-l" src="../../Assets/Images/anon.jfif" alt="avatar">
            </div>

            <p class="padding-l">Code for above avatars:</p>
            <iframe src="https://www.thiscodeworks.com/embed/61fff9534dd44f0015f3cc72" style="width: 100%; height: 138px;" frameborder="0"></iframe>

            <!-- ------------------------------------------------------------------ -->

            <div class="divider margin-v-l"></div>
            <div class="bottom-nav flex-space-between">

                <a class="color-text" href="../../Docs/conclusion.html">
                    <ion-icon name="arrow-back-circle-outline"></ion-icon> Conclusion
                </a>
                <a class="color-text" href="../Alert/alert.html">Alert <ion-icon name="arrow-forward-circle-outline"></ion-icon> 
                </a>

            </div>

        </div>
    </main>


    <div class="footer flex-space-even">
        <div class="gratitude">
            <div class="brand">
                <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
                <span>Light UI</span>

            </div>
            <p> Designed and built with all the love in the world by the
                <a class="footer-link color-text" href="https://maruthipothuganti.netlify.app" target="_blank">Maruthi Pothuganti</a> with the help of our NeoG Community.
            </p>
        </div>


    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>