<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists | LightUI</title>
    <link rel="stylesheet" href="../../Docs/doc.css">
    <link rel="stylesheet" href="list.css">
</head>

<body>

    <div class="nav flex-space-between padding-xxl shadow-sm">
        <!-- <ion-icon class="header-icon" name="sunny-outline"></ion-icon> -->

        <a href="../../index.html">
            <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
        </a>
        <ion-icon class="header-icon" name="moon"></ion-icon>
    </div>
    <main class="flex-row">
        <div class="menuList">
            <h2 class="comp-head">Getting Started</h2>
            <ul class="padding-s">

                <li class="comp-el padding-v-l"><a href="../../Docs/docs.html">Typography</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/colors.html">Colors</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/conclusion.html">Conclusions</a></li>
            </ul>
            <br>
            <h2 class="comp-head">Components</h2>
            <ul class="padding-s">
                <li class="comp-el padding-v-l"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="comp-el padding-v-l"><a href="../Alert/alert.html">Alert</a></li>
                <li class="comp-el padding-v-l"><a href="../Badge/badge.html">Badges</a></li>
                <li class="comp-el padding-v-l"><a href="../Button/button.html">Button</a></li>
                <li class="comp-el padding-v-l"><a href="../Card/card.html">Card</a></li>
                <li class="comp-el padding-v-l"><a class="active" href="#">Image</a></li>
                <li class="comp-el padding-v-l"><a href="../Toasts/toast.html">Toasts</a></li>
                <li class="comp-el padding-v-l"><a href="#">Input</a></li>
                <li class="comp-el padding-v-l"><a href="#">Lists</a></li>
                <li class="comp-el padding-v-l"><a href="#">Navigation</a></li>
                <li class="comp-el padding-v-l"><a href="#">Text-utilities</a></li>
            </ul>
        </div>
        <div class="main-content padding-l">
            <h1 id="main-heading">Lists</h1>
            <p class="padding-l">Lists are used to specify lists of information. All lists may contain one or more list elements. There are three different types of HTML lists.</p>
            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">Types of lists</h2>
            <p class="padding-l">Lists can be in the following different styles.</p>

            <div class="element-display list-container">
                <div class="list ">
                    <caption>UnOrdered List</caption>
                    <div class="divider margin-v-l"></div>
                    <ul class="u-order">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>REACT JS</li>
                    </ul>

                </div>

                <div class="list ">
                    <caption>Ordered List</caption>
                    <div class="divider margin-v-l"></div>
                    <ol class="order">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>REACT JS</li>
                    </ol>

                </div>



                <div class="list">
                    <caption>Reverse Ordered List</caption>
                    <div class="divider margin-v-l"></div>
                    <ol class=" r-order" reversed>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>REACT JS</li>
                    </ol>

                </div>

                <div class="list ">
                    <caption>Roman Ordered List</caption>
                    <div class="divider margin-v-l"></div>
                    <ol class="roman">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>REACT JS</li>
                    </ol>

                </div>

                <div class="list ">
                    <caption>Icon List</caption>
                    <div class="divider margin-v-l"></div>
                    <ul class="icon">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>REACT JS</li>
                    </ul>

                </div>


            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the any of the above list component, just copy and paste from the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/620625bca4f5770015a88539" style="width: 100%; height: 879px;" frameborder="0"></iframe>


            <!-- ------------------------------------------------------------------ -->
            <div class="divider margin-v-l"></div>

            <h2 class="sub-heading">Stacked lists</h2>
            <p class="padding-l">Stacked lists are generally seen in the notifications as given below.</p>

            <div class="element-display">


                <ul class="stacked-list-container">
                    <li class="stacked-list">
                        <ion-icon size="large" name="logo-github"></ion-icon>You have a new notification</li>
                    <li class="stacked-list">
                        <ion-icon size="large" name="logo-facebook"></ion-icon>You have a new notification</li>
                    <li class="stacked-list">
                        <ion-icon size="large" name="logo-linkedin"></ion-icon>You have a new notification</li>
                    <li class="stacked-list">
                        <ion-icon size="large" name="logo-twitter"></ion-icon>
                        </ion-icon>You have a new notification</li>
                </ul>


            </div>

            <p class="padding-l">To use the above stacked list components, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/62062617a4f5770015a8853a" style="width: 100%; height: 281px;" frameborder="0"></iframe>


            <div class="divider margin-v-l"></div>

            <h2 class="sub-heading">Floated lists</h2>
            <p class="padding-l">Stacked lists are generally seen in the notifications as given below.</p>

            <div class="element-display">


                <ul class="floated-list-container">
                    <li class="floated-list">
                        <div class="floated-title">
                            <img class="floated-li-img" src="../../Assets/Images/AvatarBadge.jfif" alt="">
                            <p>Arthur</p>
                        </div>
                        <div class="btn-container">
                            <button class="floated-list-btn">Add Friend</button>
                        </div>
                    </li>
                    <li class="floated-list">
                        <div class="floated-title">
                            <img class="floated-li-img" src="../../Assets/Images/AvatarBadge.jfif" alt="">
                            <p>Arthur</p>
                        </div>
                        <div class="btn-container">
                            <button class="floated-list-btn">Add Friend</button>
                        </div>
                    </li>
                    <li class="floated-list">
                        <div class="floated-title">
                            <img class="floated-li-img" src="../../Assets/Images/AvatarBadge.jfif" alt="">
                            <p>Arthur</p>
                        </div>
                        <div class="btn-container">
                            <button class="floated-list-btn">Add Friend</button>
                        </div>
                    </li>
                    <li class="floated-list">
                        <div class="floated-title">
                            <img class="floated-li-img" src="../../Assets/Images/AvatarBadge.jfif" alt="">
                            <p>Arthur</p>
                        </div>
                        <div class="btn-container">
                            <button class="floated-list-btn">Add Friend</button>
                        </div>
                    </li>

                </ul>


            </div>

            <p class="padding-l">To use the above floated list components, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/62063c5aa4f5770015a88550" style="width: 100%; height: 593px;" frameborder="0"></iframe>

            <div class="divider margin-v-l"></div>
            <div class="bottom-nav flex-space-between">

                <a class="color-text" href="#">
                    <ion-icon name="arrow-back-circle-outline"></ion-icon> Input
                </a>
                <a class="color-text" href="#">Navigation <ion-icon name="arrow-forward-circle-outline"></ion-icon> 
                </a>

            </div>

        </div>
    </main>


    <div class="footer flex-space-even">
        <div class="gratitude">
            <div class="brand">
                <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
                <span>Light UI</span>

            </div>
            <p> Designed and built with all the love in the world by the
                <a class="footer-link color-text" href="https://maruthipothuganti.netlify.app" target="_blank">Maruthi Pothuganti</a> with the help of our NeoG Community.
            </p>
        </div>


    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>