<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal | LightUI</title>
    <link rel="stylesheet" href="../../Docs/doc.css">
    <link rel="stylesheet" href="modal.css">
</head>

<body class="menulist-parent">

    <div class="nav flex-space-between padding-xxl shadow-sm">

        <button class="ham-menu">
            <ion-icon class="header-icon ham-menu" class="ham-menu" name="menu-outline"></ion-icon>
        </button>
        <a href="../../index.html" class="desktop">
            <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
        </a>
        <ion-icon class="header-icon" ></ion-icon>
    </div>
    <main class="flex-row">
        <div class="menuList">
            <h2 class="comp-head">Getting Started</h2>
            <ul class="padding-s">

                <li class="comp-el padding-v-l"><a href="../../Docs/docs.html">Typography</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/colors.html">Colors</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/conclusion.html">Conclusions</a></li>
            </ul>
            <br>
            <h2 class="comp-head">Components</h2>
            <ul class="padding-s">
                <li class="comp-el padding-v-l"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="comp-el padding-v-l"><a href="../Alert/alert.html">Alert</a></li>
                <li class="comp-el padding-v-l"><a href="../Badge/badge.html">Badges</a></li>
                <li class="comp-el padding-v-l"><a href="../Button/button.html">Button</a></li>
                <li class="comp-el padding-v-l"><a href="../Card/card.html">Card</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Image/image.html">Image</a></li>
                <li class="comp-el padding-v-l"><a href="../Toasts/toast.html">Toasts</a></li>
                <li class="comp-el padding-v-l"><a href="../Input/input.html">Input</a></li>
                <li class="comp-el padding-v-l"><a href="../Lists/list.html">Lists</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Navigation/navigation.html">Navigation</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Text-Utilities/textutilities.html">Text-utilities</a></li>
                <li class="comp-el padding-v-l"><a class="active" href="#">Modal</a></li>
                <li class="comp-el padding-v-l"><a  href="/Components/Rating/rating.html">Rating</a></li>
                <li class="comp-el padding-v-l"><a  href="/Components/Slider/slider.html">Slider</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Grid/grid.html">Grid</a></li>
            </ul>
        </div>
        <div class="main-content padding-l">
            <h1 id="main-heading">Modal</h1>
            <p class="padding-l">A Modal is a dialog box/popup window that is displayed on top of the current page.</p>
            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">Modal Demo</h2>
            <p class="padding-l">Modal can be of different types such as modal with info, modal with actions etc. Below is a demo of the modal.</p>

            <div class="element-display">


                <button id="btn-actionModal" class="btn btn-primary">Actionable Demo Modal</button>

                <div id="actionModal" class="modal">
                    <div class="modal-header">
                        <h1 id="main-heading"> Modal Title</h1>
                        <button id="closeModalBtn" class="btn-ol-secondary"><ion-icon name="close-outline"></ion-icon></button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

                    </div>
                    <div class="modal-footer">
                        <button class="btn-secondary modal-btn">Cancel</button>
                        <button class="btn-primary modal-btn">Save Changes</button>
                    </div>
                </div>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <p class="padding-l">To use the any of the above Modal component, just copy and paste from the below code snippets:
            </p>

            <iframe src="https://www.thiscodeworks.com/embed/625a3784826b060015494b01" style="width: 100%; height: 255px;" frameborder="0"></iframe>

            <!-- ------------------------------------------------------------------ -->


            <div class="divider margin-v-l"></div>
            <div class="bottom-nav flex-space-between">

                <a class="color-text" href="../Text-Utilities/textutilities.html">
                    <ion-icon name="arrow-back-circle-outline"></ion-icon> Text-Utilities
                </a>
                <a class="color-text" href="../Rating/rating.html">Rating <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                </a>

            </div>

        </div>
    </main>


    <div class="footer flex-space-even">
        <div class="gratitude">
            <div class="brand">
                <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
                <span>Light UI</span>

            </div>
            <p> Designed and built with all the love in the world by the
                <a class="footer-link color-text" href="https://maruthipothuganti.netlify.app" target="_blank">Maruthi
                    Pothuganti</a> with the help of our NeoG Community.
            </p>
        </div>


    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/Docs/doc.js"></script>
    <script src="modal.js"></script>
</body>

</html>
