<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilities | LightUI</title>
    <link rel="stylesheet" href="../../Docs/doc.css">
    <link rel="stylesheet" href="textutilities.css">
</head>

<body class="menulist-parent">
    <div class="nav flex-space-between padding-xxl shadow-sm">

        <button class="ham-menu">
            <ion-icon class="header-icon ham-menu" class="ham-menu" name="menu-outline"></ion-icon>
        </button>
        <a href="../../index.html" class="desktop">
            <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
        </a>
        <ion-icon class="header-icon" ></ion-icon>
    </div>
    <main class="flex-row">
        <div class="menuList">
            <h2 class="comp-head">Getting Started</h2>
            <ul class="padding-s">

                <li class="comp-el padding-v-l"><a href="../../Docs/docs.html">Typography</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/colors.html">Colors</a></li>
                <li class="comp-el padding-v-l"><a href="../../Docs/conclusion.html">Conclusions</a></li>
            </ul>
            <br>
            <h2 class="comp-head">Components</h2>
            <ul class="padding-s">
                <li class="comp-el padding-v-l"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="comp-el padding-v-l"><a href="../Alert/alert.html">Alert</a></li>
                <li class="comp-el padding-v-l"><a href="../Badge/badge.html">Badges</a></li>
                <li class="comp-el padding-v-l"><a href="../Button/button.html">Button</a></li>
                <li class="comp-el padding-v-l"><a href="../Card/card.html">Card</a></li>
                <li class="comp-el padding-v-l"><a href="../Image/image.html">Image</a></li>
                <li class="comp-el padding-v-l"><a href="../Toasts/toast.html">Toasts</a></li>
                <li class="comp-el padding-v-l"><a href="../Text-Utilities/textutilities.html">Input</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Lists/list.html">Lists</a></li>
                <li class="comp-el padding-v-l"><a href="/Components/Navigation/navigation.html">Navigation</a></li>
                <li class="comp-el padding-v-l"><a class="active" href="#">Text-utilities</a></li>
                <li class="comp-el padding-v-l"><a href="../Modal/modal.html">Modal</a></li>
                <li class="comp-el padding-v-l"><a  href="/Components/Rating/rating.html">Rating</a></li>
                 <li class="comp-el padding-v-l"><a href="/Components/Slider/slider.html">Slider</a></li>
                  <li class="comp-el padding-v-l"><a href="/Components/Grid/grid.html">Grid</a></li>
            </ul>
        </div>
        <div class="main-content padding-l">
            <h1 id="main-heading">Text Utilities</h1>
            <p class="padding-l">Text with Different Size, Styling, color and spacing that can be used with respect to the place.</p>
            <div class="divider margin-v-l"></div>
            <h2 class="sub-heading">Headings</h2>
            <p class="padding-l">Headings ranging from h1 to h6.</p>

            <div class="element-display flex-column">

                <h1>We are NeoGrammers.</h1>
                <h2>We are NeoGrammers.</h2>
                <h3>We are NeoGrammers.</h3>
                <h4>We are NeoGrammers.</h4>
                <h5>We are NeoGrammers.</h5>
                <h6>We are NeoGrammers.</h6>

            </div>

            <p class="padding-l">To use the above Heading components, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/620bffec80e1cd0015bd9452" style="width: 100%; height: 164px;" frameborder="0"></iframe>

            <div class="divider margin-v-l"></div>

            <h2 class="sub-heading">Small Text</h2>
            <p class="padding-l">Text with ver small font-size than a normal Paragraph element.</p>

            <div class="element-display ">

                <small>We are NeoGrammers.</small>

            </div>

            <p class="padding-l">To use the above form component, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/620c002580e1cd0015bd9453" style="width: 100%; height: 99px;" frameborder="0"></iframe>

            <div class="divider margin-v-l"></div>

            <h2 class="sub-heading">Grey Text</h2>
            <p class="padding-l">Text with normal Paragraph element font-size and Grey colored Text.</p>

            <div class="element-display ">

                <p class="txt-grey">We are NeoGrammers.</p>

            </div>

            <p class="padding-l">To use the above Grey coloured text component, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/620c006d80e1cd0015bd9454" style="width: 100%; height: 99px;" frameborder="0"></iframe>

            <div class="divider margin-v-l"></div>

            <h2 class="sub-heading">Text Alignment</h2>
            <p class="padding-l">Text with Left alignment, text with Center alignment amd text with Right alignment.</p>

            <div class="text-display ">

                <div class="text-left">
                    <p>We are NeoGrammers.</p>
                </div>

                <div class="text-center">
                    <p>We are NeoGrammers.</p>
                </div>
                <div class="text-right">
                    <p>We are NeoGrammers.</p>
                </div>

            </div>

            <p class="padding-l">To use the above Text Align component, just copy and paste the below code snippets:</p>
            <iframe src="https://www.thiscodeworks.com/embed/620cbf6580e1cd0015bd94c1" style="width: 100%; height: 216px;" frameborder="0"></iframe>

            <div class="divider margin-v-l"></div>
            <div class="bottom-nav flex-space-between">

                <a class="color-text" href="../Navigation/navigation.html">
                    <ion-icon name="arrow-back-circle-outline"></ion-icon> Navigation
                </a>
                <a class="color-text" href="../Modal/modal.html">
                    Modal
                    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                </a>

            </div>

        </div>
    </main>


    <div class="footer flex-space-even">
        <div class="gratitude">
            <div class="brand">
                <ion-icon class="header-icon" name="logo-laravel"></ion-icon>
                <span>Light UI</span>

            </div>
            <p> Designed and built with all the love in the world by the
                <a class="footer-link color-text" href="https://maruthipothuganti.netlify.app" target="_blank">Maruthi Pothuganti</a> with the help of our NeoG Community.
            </p>
        </div>


    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/Docs/doc.js"></script>
</body>

</html>
